{
    margin: 0;
    padding: 0;
}

header{
    background-color: #424f23;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
}
body{
    background-image: url("imagens/fundo\ site.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
}
html{
    height: 100%;
}
div{
    padding: 30px;
}