{
    margin: 0;
    padding: 0;
}

header{
    background-color: #424f23;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
body{
    background-image: url("imagens/fundo\ site.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}