{
    margin: 0;
    padding: 0;
}

header{
    background-color: #424f23;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
body{
    background-image: url("imagens/fundo\ site.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
}
html{
    height: 100%;
}
body::before{
    content: "" ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(imagens/fundo\ site.jpg) no-repeat center center;
    background-size: cover;
    opacity: 0,2;
    z-index: -1;
}